body{
	background-color:#FFE6BB;  
}
@font-face{
  font-family: GentiumPlus;
    src: url(../fonts/GentiumForIE.eot?#iefix) format('embedded-opentype'), 
  	   local('GentiumPlus Regular'), local('Gentium Plus'),
	   url(../fonts/GentiumPlus-R.woff) format('woff'), /* für alle anderen (bis auf Safari) */
       url(../fonts/GentiumPlus-R.ttf) format('opentype'), /* für Safari */
	   url(../fonts/GentiumForSafari.svg#GentiumPlusRegular) format('svg'); 
}

span.verse_number, span.chapter_number{
	color:gray;	
	-moz-user-select: none;
	hutia:expression(this.onselectstart=function(){return(false)};);
} 

span[class*='wce_break_page']{
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
}

span[class*='wce_paratext_incipit']{
	display: block;
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: bold; 
}

span[class*='wce_paratext_num_chapnum']{
	color: purple;
}

span[class*='wce_paratext_num_ammsec']{
	color: green;
}

span[class*='wce_supplied_source']{
	color: red;
}

span[class*='__t=formatting_rubrication']{
	color: red;
}

span[class*='__t=formatting_gold']{
	color: gold;
}

span[class*='__t=formatting_blue']{
	color: blue;
}

span[class*='__t=formatting_green']{
	color: green;
}

span[class*='__t=formatting_yellow']{
	color: yellow;
}

span[class*='__t=formatting_other']{
	color: #black;
}


span[class*='__t=formatting_overline']{
	text-decoration: overline;
}

span[class*='__t=formatting_capitals']{
	width: .75em;
	font-size: 48px;
	line-height: 24px;
}


span[class*='wce_abbr_nomenSacrum_Overline']{
	text-decoration: overline;
}

span[class*='wce_abbr_numeral_Overline']{
	text-decoration: overline;
}


.rubrication {
color : red;
text-decoration : overline;
} 